#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sobre-mim{
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 20px;
  margin: 50px;
  background-color: rgb(213, 110, 223);
}

.stylle-titulo{
  font-style: italic;
  padding: 30px;
}

img{
  height: 250px;
  padding: 10px;
  margin: 5px;
  
}

.container{
  display: flex;
  height: 500px;
}

footer a{
  color: rgb(213, 110, 223);
  
}
